{{! @glint-nocheck }}
<div
  local-class='react-bridge-wrapper'
  data-test-react-bridge-component
  {{this.reactModifier
    reactComponent=@reactComponent
    props=@props
    providersComponent=@providersComponent
  }}
>
  {{#if (has-block)}}
    {{yield}}
  {{/if}}
</div>