<ReactBridge
  @reactComponent={{this.reactExample}}
  @props={{hash text="Hello from props" data-test-example="true"}}
  class="class-from-bridge"
>
  <p>Hello from children</p>
</ReactBridge>

<ReactBridge
  @reactComponent={{this.reactExample}}
  @props={{hash text=this.safeText data-test-example="true"}}
  class="class-from-bridge"
/>